/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
/*
.root {
   -fx-background-image: url("images/background2.jpg");
   -fx-background-size: 800 500;
    -fx-background-position: center center;
   -fx-text-fill: #000000;
   -fx-font-family: "NanumBarunpenR";
}
.button {
   -fx-background-color: linear-gradient(#ffffff, #000061);
   -fx-background-radius: 20;
   -fx-border-color: #ffffff;
   -fx-border-radius: 20;
   -fx-font-weight: bold;
   -fx-font-family: "NanumBarunpenR";
   -fx-text-fill: #ffffff;
   -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,4), 10, 0, 2, 2);
}
.button:hover {
   -fx-background-color: linear-gradient(#000061, #ffffff);
}
.button:pressed {
   -fx-background-color: linear-gradient(#000061, #ffffff);
}
.label {
   -fx-font-size: 13px;
   -fx-font-weight: bold;
   -fx-font-family: "NanumBarunpenR";
   -fx-text-fill: #ffffff;
   -fx-effect: dropshadow(gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#titleLabel {
   -fx-font-weight: bold;
   -fx-text-fill: #ffffff;
   -fx-font-size: 33px;
}
#loginPane, #signUpPane, #profileBox {
   -fx-border-style: solid inside;
   -fx-border-color: #ffffff;
   -fx-padding: 10;
   -fx-border-radius: 10;
   -fx-background-radius: 10;
   -fx-background-color: #000061;
}
#recommendConcertLabel, #requestTitleLabel {
   -fx-font-weight: bold;
   -fx-text-fill: #ffffff;
   -fx-font-size: 27px;
}

.tableview {
   -fx-control-inner-background: white;
   
   -fx-background-color: #000061;
   -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}
.tableview .concertName, .tableview .concertDate {
   -fx-background-color: transparent;
   -fx-border-color: #000061;
}
.tableview .column-header-background {
   -fx-background-color: #000061;
   -fx-border-color: #ffffff;
}
.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}
.text-field:focused {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
}

.list-view {
   -fx-background-color: white;
}

.list-cell {
   -fx-control-inner-background: white;
   -fx-text-fill: #000061;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #000061;
    -fx-text-fill: white;
}

.list-cell:odd {
    -fx-cell-hover-color: #000061;
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-cell-hover-color: #000061;
    -fx-text-fill: blue;
}

#selectedConcertInfo {
   -fx-control-inner-background: white;
   -fx-text-fill: #000061;
   -fx-font-size: 14px;
}
*/